.logo {
    max-width: 20px;
    height: 20px;
    color: white;
}

.head {
    background-color: black;
    color: white;
}

.head a:hover {
    color: rgb(241, 199, 143)
}

.logo1 {
    color: white;
}